
@media (min-width: 400px) {
	#headimg {
		width: 300px;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges
	}
}

#headimg {
	max-width: 100% !important;
    height: auto;
}

body, 
.custom {
    cursor: url("cursor.png"), default ;
   /* cursor: url("/point.png"), hand ; */
}
/* unvisited link */
a:link {
  color: #506aff;
}

/* visited link */
a:visited {
  color: #00a3cc;
}

/* mouse over link */
a:hover {
  color: #11a5e0;
}

/* selected link */
a:active {
  color: #72afff;
}